@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import "antd/dist/antd.css";
@import "./reset.css";

.App{
	background-color: #F4F7F9;
	height: 100vh;
	font-family: 'Noto Sans KR', sans-serif;
}