.headerWrapper{
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D3133;
    height: 60px;
    color: #F2F8F8;
    font-weight: 900;
    position: relative;
    position: fixed;
    top: 0;
    width: 100%;
    a{
        color: #F2F8F8;
    }
}

.headerName{
    color: #F2F8F8;
    margin-right: 50px;
    :hover{
        color: #CA526B;
    }
}

.headerMiddle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    .menu{
        display: flex;
        a{
            margin-right: 40px;
            color: #F2F8F8;
        }
    }
}

.headerTail{
    display: flex;
    margin-right: 3%;
    div,
    a{
        margin-left: 40px;
    }
}

.searchBar{
    width: 200px;
    padding: 0px 20px;
    margin-top: 23px;
    margin-right: -100px;
}

.ant-input{
    background-color: #F0F5FB;
}