.loginWrapper{
    div{
        &:hover{
            cursor: pointer;
        }
    }
}

.ant-modal-content{
    border-radius: 25px;
    width: 500px;
    height: 530px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ant-modal-header{
    border-radius: 25px;
    text-align: center;
    height: 100px;
    border:none;
    margin-top: 55px;
    .ant-modal-title{   
        color: #CA526B;
        display: flex;
        flex-direction: column;
        font-size: 23px;
        font-weight: 900;
    }
}

.ant-modal-close-icon{
    color: #f2f8f8;
    position: absolute;
    background-color: black;
    width: 23px; height: 23px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -30px;
}

.ant-modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -20px;

    .ant-input-password{
        width: 440px;
        margin-top: 30px;
    }

    .ant-input{
        height: 60px;
        width: 440px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .ant-modal-input_group{
        margin-bottom: 20px;

        #modal-input-email{
            margin-bottom: 20px;
            border-radius: 10px;
        }
        .ant-input-affix-wrapper{
            background-color: white;
            padding: 0px;
            border-radius: 10px;
        }
        #modal-input-pw{
            padding: 10px;
            border-radius: 10px;
        }
        .ant-input-password-icon{
            margin-right: 10px;
        }
    }
}

.ant-modal-footer{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: -20px;
    
    #loginBtn{
        background-color: #2D3133;
        border: none;
        border-radius: 10px;
        width: 440px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8%;
        font-size:x-large;
        font-weight: 900;
        color: #f2f8f8;
        box-shadow: 0 4px 15px 0 rgba(79, 73, 74, 0.75);
        &:hover{
            color: white;
            background-color: #CA526B;
            box-shadow: 0 4px 15px 0 rgba(186, 71, 90, 0.75);
            cursor: pointer;
        }
    }
    .ant-modal-footer__column{
        width: 440px;
        display: flex;
        justify-content: flex-end;
        a{
            margin-top: 20px;
            padding-right: 5px;
            color:#CA526B;
            font-weight: 200;
            &:hover{
                font-weight: 400;
            }
        }
    }
}

.ant-btn:first-child,
.ant-btn:nth-child(2){
    display: none;
}