.register_my__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.register_my__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
    margin-top: 100px;
    .register_my__wrapper-title{
        height: 20px;
        font-weight: 900;
        font-size: 28px;
        color: #CA526B;
        margin-bottom: 45px;
    }
}

.registerWrapper{
    background-color: white;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    .registerWrapper_column{
        display: flex;
        align-items: center;
        margin: 20px 0;
        position: relative;
        div:first-child{
            font-weight: 900;
            color: #666768;
            opacity: 0.8;
            font-size: 20px;
            width: 20%;
        }
        input{
            border: 1px solid #8a8a8a5c;
            border-radius: 12px;
            width: 60%;
            padding: 15px;
            &:focus{
                outline: none;
            }
        }
        div:last-child{
            position: absolute;
            left: 220px; top: 60px;
            color: #D74040; opacity: 0.8;
            font-size: 14px;
        }
    }
}

.registerWrapper_btn{
    margin: 50px 0;
    button{
        width: 120px; height: 35px;
        border: none;
        border-radius: 20px;
        background-color: #CA526B;
        color: #F2F8F8;
        margin: 0 50px;
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: 600;
        &:hover{
            cursor: pointer;
        }
    }
    button:first-child{
        background-color: #9b9c9d;
    }
}